.formWrapper {
    width: 335px;
    height: 292px;

    background: #ffffff;
    box-shadow: 0px 4px 23px rgba(17, 17, 17, 0.05);
    border-radius: 16px;
    @media screen and (min-width: 768px) {
        width: 500px;
        height: 356px;
    }
}

.contentWrapper {
    padding: 20px;
    @media screen and (min-width: 768px) {
        padding: 32px;
    }
}

.title {
    width: 97px;
    height: 24px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;

    color: #111111;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        width: 108px;
        height: 30px;
        font-size: 20px;
        line-height: 1.5;
    }
    @media screen and (min-width: 1440px) {
        margin-bottom: 32px;
    }
}
.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.label {
    width: 83px;
    height: 14px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;

    color: #111111;
    margin-bottom: 8px;
}
