.container {
    padding: 0 20px;
    padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
    .container {
        padding: 0 32px;
        padding-bottom: 96px;
    }
}
@media screen and (min-width: 1440px) {
    .container {
        padding: 0 128px;
        padding-bottom: 128px;
    }
}

.list_wrapper {
    display: flex;
    justify-content: center;
}
.chosen_header {
    display: block;
    margin-bottom: 40px;

    font-family: var(--main-font-family);
    font-weight: var(--bold-font-weight);
    font-size: 32px;
    line-height: 1.2;
    /* identical to box height, or 109% */

    color: #111111;
}

@media screen and (min-width: 768px) {
    .chosen_header {
        font-size: 44px;
        line-height: 1;
    }
}

.chosen_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .chosen_list {
        gap: 61px;
    }
}
@media screen and (min-width: 1440px) {
    .chosen_list {
        gap: 30px;
    }
}

.chosen_item {
    display: flex;
    align-items: center;
    flex-basis: 100%;
}

@media screen and (min-width: 768px) {
    .chosen_item {
        flex-basis: calc((100% - 30px * (4 - 1)) / 2);
    }
}

@media screen and (min-width: 1440px) {
    .chosen_item {
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
    }
}

.img {
    width: 72px;
    height: 100%;
}

.image_wrapper {
    margin-right: 14px;
    min-width: 72px;
    height: 100%;
}

.chosen_text {
    font-family: var(--main-font-family);
    font-weight: var(--bold-font-weight);
    font-size: 16px;
    line-height: 1.25;
    /* or 125% */
    color: #111111;
}

@media screen and (min-width: 768px) {
    .chosen_text {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
    }
}
