.box_style {
}
.icon {
    display: block;
    color: black;
    fill: aqua;
}
.header {
    font-family: var(--main-font-family);
    font-weight: var(--semibold-font-weight);
    font-size: 20px;
    line-height: 1.5;
    /* identical to box height, or 150% */

    color: #111111;
}
.btn_close {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0;
    border: none;
    background-color: inherit;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}
