.eyeBtn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.hideIcon {
    width: 18px;
    fill: rgba(0, 0, 0, 0.3);
}

.showIcon {
    width: 18px;
    fill: rgba(0, 0, 0, 1);
}
