.analysis_item {
    margin-right: 64px;
}

.doctor_type {
    font-family: var(--main-font-family);
    font-weight: var(--semibold-font-weight);
    font-size: 20px;
    line-height: 1.5;
    color: #111111;
}

.doctor_name {
    font-family: var(--main-font-family);
    font-weight: var(--semibold-font-weight);
    font-size: 12px;
    line-height: 1.17;
    color: #111111;
}

.doctor_type_small {
    font-family: var(--main-font-family);
    font-weight: var(--regular-font-weight);
    font-size: 10px;
    line-height: 1.2;
    color: rgba(17, 17, 17, 0.5);
}

.inside_item {
    margin-bottom: 32px;
}

.inside_item:first-child > p {
    max-width: 180px;
}
.inside_item:not(:last-child) {
    margin-bottom: 32px;
}
.inside_itemNested > li {
    display: flex;
}
.inside_itemNested > li > span {
    font-weight: var(--regular-font-weight);
    font-size: 14px;
    line-height: 20px;
    color: #484f5c;
}
.inside_itemNested > li::before {
    content: '';
    background-image: url('./dot.svg');
    padding: 8px;
    background-repeat: no-repeat;
    margin: 2px 8px 0 0;
}
.inside_itemNested > li:not(:last-child) {
    margin-bottom: 8px;
}
